name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: pnpm
      - name: Install Packages
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: Lint
        run: pnpm run lint
      - name: tsc
        run: pnpm run tsc
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - name: Install Packages
        run: pnpm install
      - name: Test
        run: pnpm test
