name: Publish to pkg.pr.new
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags: ["!**"]

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: github.repository == 'ota-meshi/llms-full-unbind'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: pnpm
      - name: Install Packages
        run: pnpm install
      - name: Build
        run: pnpm run build
      - run: pnpm dlx pkg-pr-new publish --compact './packages/llms-full-unbind' --json output.json
